{% extends "base.html" %}
{% block title %}Please Fill in The Details{% endblock %}
{% block content %}
 <h1>Information required</h1>
 </br>
 <h3>Please, use the following form:</h3>
 </br>
 <form method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <div  style="padding-left:50px;">
  <button type="submit" name="submit" value="submit">Save</button>
 </div>
 </br>
 <div  style="padding-left:50px;">
   <button type="submit" name="cancel" value="cancel">Cancel</button>
 </div>
 </form>
{% endblock %}
